body{
    background-color: rgb(34 34 34);
    color: #f8fafd;
    font-family: poppins;
    max-width: 1200px;
    margin: o auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#tittle{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 400;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 50px;
    line-height: 10px;
}

span{
    color: #6e47dc;
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    width: 670px;
}