body{
    background-color: rgb(34 34 34);
    color: #f8fafd;
    font-family: poppins;
    max-width: 1200px;
    margin: o auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#tittle{
    flex-direction: column;
    line-height: 10px;
}